<!DOCTYPE html>
<html>
<head>
    <title>Evaluation and Prediction of Student’s Academic Performance</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Evaluation and Prediction of Student’s Academic Performance</h1>
        <p>Press Web App to be redirected to the application or GitHub Repository to be transferred to the code repo.</p>
        <div class="button-container">
            <a href="https://github.com/Rozakos/Dissertation" class="btn" target="_blank">GitHub Repository</a>
            <a href="/predictdata" class="btn">Web App</a>
        </div>
    </div>
</body>
</html>
